body {
  margin: 0;
  height: 100vh;
  background-image: url('image/dbz.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100em;
  padding: 0;
  font-family: 'poppins';

}